//
// Grids Page View
// -----------------------------------------------------


#gridspage {

	// Example grid styles, delete or move
	.row, .grid-row {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	.row > div,
	.grid-row .grid-cell {
		&:nth-child(3n+1) {
			background-color: rgba($gray-light, 0.6);
		}
		&:nth-child(3n+2) {
			background-color: rgba($gray-light, 0.4);
		}
		&:nth-child(3n+3) {
			background-color: rgba($gray-light, 0.2);
		}
	}

}
