<div id="modalwindow" class="modalwindow" aria-hidden="true" aria-live="polite" role="dialog">
	<div class="modalwindow--content" role="document"></div>
	<a href="#" class="closeX"><span>close modal dialog</span></a>
</div>
