<h2>Promise Data Listing</h2>
<p>Three different data sources (fibonacci numbers, primes, and sevens, all below 100) concated &amp; sorted into a single array.</p>
<ul class="inline">
{{#each .}}
	<li>{{.}}</li>
{{/each}}
</ul>