//
// Modal Window
// -----------------------------------------------------


// do NOT use overflow:hidden; or position:fixed;
// on body, it will cause more problems than it fixes,
// especially on mobile.
// body.modal-active {

// }

.modal-overlay {
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	width: 100vw;
	height: 100vh;
	background: rgba($black, 0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: $overlay-zindex;

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}
}

.modal {
	animation: fadeOutToNone $animation-speed;
	animation-fill-mode: forwards;
	background: $white;
	padding: 40px 0 20px;
	overflow: hidden;
	position: fixed;
	z-index: $modal-zindex;
	transform: translate3d(0,0,0);

	&.is-active {
		animation: fadeInFromNone $animation-speed;
		animation-fill-mode: forwards;
	}

	.closeX {
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.modal--content {
		padding: 0 20px;
		overflow: auto;
		position: relative;
		// sass-lint:disable no-misspelled-properties
		-webkit-overflow-scrolling: touch;
		// sass-lint:enable no-misspelled-properties
	}

}


// Mobile
@media (max-width: $mobile-breakpoint-max) {

	.modal {
		width: calc(100% - #{$mobile-gutter-double-width});
		height: calc(100% - #{$mobile-gutter-double-width});
		left: $mobile-gutter-width;
		right: $mobile-gutter-width;
		top: $mobile-gutter-width;
		bottom: $mobile-gutter-width;

		.modal--content {
			width: 100%;
			height: 100%;
			max-height: 100%;
		}
	}

}


// Tablet+
@media (min-width: $tablet-breakpoint-min) {

	.modal {
		width: 640px;
		min-height: 240px;
		max-height: calc(100vh - #{$tablet-gutter-double-width});
		left: calc(50% - 320px);
		right: calc(50% - 320px);
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);

		&.modal-fullscreen {
			width: calc(100% - #{$tablet-gutter-double-width});
			height: calc(100vh - #{$tablet-gutter-double-width});
			left: $tablet-gutter-width;
			right: $tablet-gutter-width;
			top: $tablet-gutter-width;
			bottom: $tablet-gutter-width;
			transform: translateY(0);
		}

		.modal--content {
			max-height: calc(100vh - #{$tablet-gutter-double-width + 60});
			padding: 0 $tablet-gutter-width;
		}
	}

}


// Desktop+
@media (min-width: $desktop-breakpoint-min) {

	.modal {
		width: 720px;
		min-height: 280px;
		max-height: calc(100vh - #{$desktop-gutter-double-width});
		left: calc(50% - 360px);
		right: calc(50% - 360px);

		&.modal-fullscreen {
			width: calc(100% - #{$desktop-gutter-double-width});
			height: calc(100vh - #{$desktop-gutter-double-width});
			left: $desktop-gutter-width;
			right: $desktop-gutter-width;
			top: $desktop-gutter-width;
			bottom: $desktop-gutter-width;
			transform: translateY(0);
		}

		.modal--content {
			max-height: calc(100vh - #{$desktop-gutter-double-width + 60});
			padding: 0 $desktop-gutter-width;
		}
	}

}
