//
// Responsive Carousel
// -----------------------------------------------------


/******************************************************************
	Assumes 10 items in carousel, 1 visible item in all views.
	JS will re-calculate widths based on actual length of items.
******************************************************************/

.responsive-carousel {
	width: calc(100% - 80px);
	height: auto;
	margin: 1.5em auto;
	position: relative;

	.arrow-nav {
		position: absolute;
		top: calc(50% - 20px);
		&.nav-prev {left: -40px;}
		&.nav-next {right: -40px;}
	}

	.carousel--outer-mask {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;

		> .carousel--inner-track {
			@include clearfix;
			display: block;
			width: calc(100% * 10);
			height: 100%;
			position: relative;
			left: 0;
			top: 0;
		}

	}

	.carousel--panel {
		@include clearfix;
		float: left;
		width: calc(100% / 10);
		height: auto;
		position: relative;

		> .carousel--panel-content {
			@include clearfix;
			width: 100%;
			height: auto;
			position: relative;
		}

	}

	&.tab-carousel {

		.carousel--tabnav {
			width: 100%;
			height: 1.0em;
			line-height: 1.0em;
			margin-top: 1.0em;
			text-align: center;
			position: relative;

			> ul {
				list-style: none;
				margin: 0;

				> li {
					display: inline-block;
					width: 1.0em;
					height: 1.0em;
					margin: 0 0.25em;

					> a {
						@include text-hide;
						display: block;
						width: 100%;
						height: 100%;
						background: $gray-xlight;
						border: 2px solid $near-black;
						border-radius: 50%;

						&:focus, &:hover {
							background-color: $gray-med;
						}

						&.is-active {
							background-color: $gray-dark;
						}

					}

				}

			}

		}

	}

}
