//
// CloseX
// -----------------------------------------------------

//use either <a href="#close"> or <button type="button"> tags
.closeX,
.btn-closeX,
.lnk-closeX {
	@include text-hide;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: rgba($gray-dark, 0) url($image-path+'/action-icons.png') no-repeat 0 0;
	background-origin: border-box;
	border: 1px solid $border-color-dark;
	border-radius: $border-radius-sm;
	padding: 0;

	&:focus, &:hover {
		background-color: $gray-dark;
		background-position: 0 -180px;
	}
}
