//
// Mixins
// -----------------------------------------------------


@mixin accelerate {
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);
}

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin hidden {
	display: none;
	visibility: hidden;
}

@mixin offscreen {
	display: block;
	width: 1px;
	height: 1px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	left: -9999px;
}

@mixin text-hide {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

@mixin visible($display: block) {
	display: $display;
	visibility: visible;
}


// Width Fraction to Percentage
@mixin width-percentage($numer, $denom) {
	width: percentage($numer / $denom);
}

// Animations
@mixin animation($name, $duration: 1s, $timing: linear, $iteration: infinite, $direction: normal, $fillMode: none) {
	animation-name: #{$name};
	animation-duration: #{$duration};
	animation-timing-function: #{$timing};
	animation-iteration-count: #{$iteration};
	animation-direction: #{$direction};
	animation-fill-mode: #{$fillMode};
}

// Background Gradients
@mixin background-linear-gradient($from, $to) {
	background-color: $from;
	@if $to != $from {
		background-image: linear-gradient($from, $to);
	}
}
