//
// Variables
// -----------------------------------------------------


// Color Definitions
$black: #000;
$white: #fff;
$near-black: #1a1a1a;
$near-white: #efefef;
$gray-dark: #333;
$gray-med: #999;
$gray-light: #ccc;
$gray-xlight: #dedede;
$gray-xlight-alt: #cdcdcd;
$red1: #900;
$red2: #c00;
// Color Usage
$body-bg: $near-white;
$text-color: $near-black;
$link-color: $red1;
$link-hover-color: $red2;
$border-color-dark: $gray-dark;
$border-color-med: $gray-med;
$border-color-light: $gray-light;
$border-color-xlight: $gray-xlight;
$error-color: $red1;


// Fonts
$main-font: Arial, sans-serif;
$alt-font: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$serif-font: 'Arvo', Georgia, Times, serif;


// Paths
$image-path: '../images';
$font-path: '../fonts';


// Breakpoints
$mobile-breakpoint-med:    400px;
$mobile-breakpoint-wide:   600px;
$mobile-breakpoint-max:    767px;
$tablet-breakpoint-min:    768px;
$tablet-breakpoint-max:    1024px;
$desktop-breakpoint-min:   1025px;
$desktop-breakpoint-lrg:   1280px;
$desktop-breakpoint-xlrg:  1600px;
$desktop-breakpoint-xxlrg: 1920px;

// Container Widths
$min-width: 320px;
$mobile-container-width: 100%;
$mobile-container-max-width: 640px;
$tablet-container-width: 740px;
$desktop-container-width: 1000px;
$desktop-wide-container-width: 1200px;
$header-height: 60px;
$footer-height: 60px;

// Grid System
$mobile-gutter-width: 10px;
$tablet-gutter-width: 20px;
$desktop-gutter-width: 30px;
$mobile-gutter-half-width: $mobile-gutter-width / 2;
$tablet-gutter-half-width: $tablet-gutter-width / 2;
$desktop-gutter-half-width: $desktop-gutter-width / 2;
$mobile-vertical-spacing: 20px;
$tablet-vertical-spacing: 40px;
$desktop-vertical-spacing: 60px;
$mobile-vertical-half-spacing: $mobile-vertical-spacing / 2;
$tablet-vertical-half-spacing: $tablet-vertical-spacing / 2;
$desktop-vertical-half-spacing: $desktop-vertical-spacing / 2;
