//
// Base Layout
// -----------------------------------------------------


html, body {
	max-width: 100%;
	min-width: $min-width;
	overflow-x: hidden;
	width: 100%;
}

body {
	@include clearfix;
	background: $body-bg url($image-path+'/bg-main-mobi.jpg') no-repeat fixed center top;
	background-size: cover;
	@media (min-width: $tablet-breakpoint-min) {
		background-image: url($image-path+'/bg-main-tabt.jpg');
	}
	@media (min-width: $desktop-breakpoint-min) {
		background-image: url($image-path+'/bg-main-desk.jpg');
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: $min-width;
	position: relative;
	width: 100%;
}

.site-main {
	flex-grow: 1;
	padding: $mobile-vertical-spacing 0;
	@media (min-width: $tablet-breakpoint-min) {
		padding: $tablet-vertical-spacing 0;
	}
	@media (min-width: $desktop-breakpoint-min) {
		padding: $desktop-vertical-spacing 0;
	}
}

.site-header,
.site-header,
.site-footer,
.content {
	@include clearfix;
	position: relative;

	.content-container,
	.content-container-fluid {
		@include clearfix;
		margin: 0 auto;
		padding: $mobile-vertical-spacing $mobile-gutter-width;
		position: relative;
		@media (min-width: $tablet-breakpoint-min) {
			padding: $mobile-vertical-spacing $tablet-gutter-width;
		}
		@media (min-width: $desktop-breakpoint-min) {
			padding: $mobile-vertical-spacing $desktop-gutter-width;
		}
	}

	.content-container {
		@media (max-width: $mobile-breakpoint-max) {
			max-width: $mobile-container-max-width;
		}
		@media (min-width: $tablet-breakpoint-min) {
			width: $tablet-container-width;
		}
		@media (min-width: $desktop-breakpoint-min) {
			width: $desktop-container-width;
		}
		@media (min-width: $desktop-breakpoint-wide) {
			width: $desktop-wide-container-width;
		}
	}

	.content-container-fluid {
		max-width: $max-width;
	}
}

.site-header,
.site-footer {
	background-color: $gray-dark;
	color: $white;
}

.content {
	background-color: $white;
	border-top: 2px solid $gray-dark;
	border-bottom: 2px solid $gray-dark;

	.content-container,
	.content-container-fluid {
		@media (min-width: $tablet-breakpoint-min) {
			padding-top: $tablet-vertical-spacing;
			padding-bottom: $tablet-vertical-spacing;
		}
		@media (min-width: $desktop-breakpoint-min) {
			padding-top: $desktop-vertical-spacing;
			padding-bottom: $desktop-vertical-spacing;
		}
	}

}

.content + .content {
	margin-top: $mobile-vertical-spacing;
	@media (min-width: $tablet-breakpoint-min) {
		margin-top: $tablet-vertical-spacing;
	}
	@media (min-width: $desktop-breakpoint-min) {
		margin-top: $desktop-vertical-spacing;
	}
}
