<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
{{> head}}
{{#block "head"}}
{{/block}}
</head>
<body id="{{#block "body-id"}}contentpage{{/block}}" class="{{#block "body-class"}}contentpage{{/block}}">

<div id="wrapper">

	{{> header}}

		<div id="main">
			<div class="main-inner twocols">

				<div id="content">

					{{#block "content"}}
					<h1>Content H1</h1>
					{{/block}}

				</div>

				<aside id="subcol">
					<h3>Subcolumn</h3>
				</aside>

			</div>
		</div>

	{{> footer}}

</div>

</body>
</html>